html,
body{
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.brand {
  font-family: 'DotGothic16';
  font-size: 12px;
  width: 214px;
  text-align: left;
}

#calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 3px;
  height: 353px;
  width: 250px;
  padding: 7px;
  text-align: center;
  margin: auto;
}
.screen-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: right;
  font-family: 'DotGothic16';
  font-size: 15px;
  width: 225px;
  height: 65px;
  border: 1px solid black;
  border-radius: 3px;
  margin-top: 18px;
  margin-bottom: 10px;
  margin-bottom: 4px;
  padding-right: 4px;
}
#topScreen {
  width: 224px;
  height: 25px;
}
#screen {
  margin-top: 5px;
  font-size: 24px;
  width: 224px;
  height: 40px;
}

button{
  border: 1px solid black;
  border-radius: 4px;
  font-size: 18px;
}

#wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6px;
  height: 230px;
  width: 230px;
  margin: auto;
}

#enter {
  grid-column: 3 / 5;
  grid-row: 5;
}

#C {
  background-color:coral;
}

.op {
  background-color:rgb(216, 216, 216);
  font-weight: normal;
}

.op.selected {
  background-color:rgb(170, 170, 170);
  font-weight: bold;
}

a:link {
  text-decoration: none;
}

.footer {
  font-family: 'DotGothic16';
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  font-size: 13px;
  background-color: rgb(243, 242, 242);
}

.fa-github:hover {
  animation: wiggle infinite 1s linear;
}

@keyframes wiggle {
  0% {transform: scale(1.2) rotate(0deg);}
  25% {transform: scale(1.2) rotate(-20deg);}
  50% {transform: scale(1.2) rotate(0deg);}
  75% {transform: scale(1.2) rotate(20deg);}
  100% {transform: scale(1.2) rotate(0deg);}
}