#calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 3px;
  height: 273px;
  width: 230px;
  padding: 5px;
  text-align: center;
}

#screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  font-family: 'DotGothic16';
  font-size: 20px;
  width: 214px;
  height: 30px;
  border: 1px solid black;
  border-radius: 3px;
  margin-top: 8px;
  margin-bottom: 4px;
  padding-left: 3px;
  padding-right: 3px;
}

button{
  border: 1px solid black;
  border-radius: 4px;
}

#wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  height: 220px;
  width: 220px;
  margin: auto;
}

#eq {
  grid-column: 3 / 5;
  grid-row: 5;
}

#C {
  background-color:coral;
}

.op {
  background-color:rgb(216, 216, 216);
  font-weight: normal;
}

.op.selected {
  background-color:rgb(170, 170, 170);
  font-weight: bold;
}